@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
}

h1 {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 30px;
}

.screen {
  width: 60%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.controls {
  width: 60%;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 15px;
}

.btn {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn.btn-play {
  background-image: url('../images/play.svg');
}
.btn.btn-play.run {
  background-image: url('../images/pause.svg');
}
.btn.btn-stop {
  background-image: url('../images/stop.svg');
}
.btn.btn-sound {
  background-image: url('../images/volume.svg');
}
.btn.btn-sound {
  background-image: url('../images/volume.svg');
}
.btn.btn-sound.muted {
  background-image: url('../images/mute.svg');
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 24px;
  }
  .screen {
    width: 90%;
  }

  .controls {
    width: 90%;
  }
}


