@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background: rgb(51, 51, 51);
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.wrap {
  width: 460px;
  min-height: 500px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;

}

.movie-container {
  width: 100%;
  margin-bottom: 30px;
}

.movie-container label {
  font-size: 21px;
  color: #fff;
  padding-right: 10px;
}

.movie-container select {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
  background: #545353;
  border: 1px solid #545353;
  color: #fff;
  outline: 0;
}

.movie-container select:hover {
  background: #414040;
}

.showcase {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background: #282828;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.showcase li {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.showcase small {
  font-size: 16px;
  color: #979797;
  padding-left: 5px;
}

.seat {
  width: 30px;
  height: 25px;
  background-color: #585858;
  border-radius: 10px 10px 0 0;
  transition: 300ms;
}

.seat.selected {
  background-color: rgb(106, 246, 164);
}

.seat.occupied {
  background-color: #fff;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.screen {
  margin: 0 auto 30px;
  width: 350px;
  height: 70px;
  background-color: #fff;
  transform: rotateX(-45deg);
  box-shadow: 0px 3px 13px rgba(255, 255, 255, 0.5);

}

.row {
  display: flex;
  width: 320px;
  margin: 0 auto 10px;
}

.row .seat {
  margin-right: 7px;
}

.row .seat:nth-child(2),
.row .seat:nth-child(6) {
  margin-right: 20px;
}

.row .seat {
  cursor: pointer;
}

.row .seat:hover {
  transform: scale(1.15);
  box-shadow: 0px 2px 5px #585858;
}

.row .seat.selected:hover {
  box-shadow: 0px 2px 5px rgb(106, 246, 164);
}

.row .seat.occupied {
  cursor: not-allowed;
}

.row .seat.occupied:hover {
  transform: none;
}

p.text {
  color: #fff;
  font-size: 18px;


}

p.text span {
  color: rgb(106, 246, 164);
  padding: 0 3px;
  font-size: 20px;
}