@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.form {
  width: 400px;
  padding: 40px 30px;
}

.form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #b8b8b8;
  padding: 10px;
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(62, 167, 228);
}

.form-control.success input {
  border-color: rgb(63, 184, 113);
}

.form-control.error input {
  border-color: rgb(204, 91, 70);
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(204, 91, 70);
  font-size: 12px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.send-form {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-color: rgb(62, 167, 228);
  border: 2px solid rgb(62, 167, 228);
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  transition: 300ms;
  outline: 0;
}

.send-form:hover {
  background-color: rgb(62, 167, 255);
  border-color: rgb(62, 167, 255);
  cursor: pointer;
}